@import '../base/colors';

.menu-item {
  padding: 1rem;
  margin: 1rem 0;
  background: $bright-yellow;
  box-shadow: 0px 5px 15px -5px #000000;
  display: grid;
  grid-template-columns: 200px auto;

  .right {
    padding: 1rem;
    margin-left: 1rem;
    position: relative;
    background: $light-teal;

    .price-button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40px;
      padding: 0 8px;
      margin-top: 15px;
      background: $dark-purple;

      position: absolute;
      bottom: 1rem;
      right: 1rem;

      font-weight: bold;

      &:hover {
        background: $light-purple;
      }
    }
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem;

    .left {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .right {
      margin-left: 0;
      margin-top: 1rem;
      padding-bottom: 5rem;
    }
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .menu-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem;

    .left {
      width: 100%;
      margin-left: 0;
      margin-top: 1rem;

      img {
        width: 100%;
      }
    }

    .right {
      margin-left: 0;
      margin-top: 1rem;
      padding-bottom: 5rem;
    }
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .menu-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem;

    .left {
      width: 100%;
      margin-left: 0;
      margin-top: 1rem;

      img {
        width: 100%;
      }
    }

    .right {
      margin-left: 0;
      margin-top: 1rem;
      padding-bottom: 5rem;
    }
  }
}
