@import 'base/colors';

html {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.65rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  font-family: 'Raleway', sans-serif;

  &::selection {
    color: $black;
    background: $bright-yellow;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  h2 {
    font-size: 1.45rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  h2 {
    font-size: 1.45rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
