@import "colors";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 6rem;

  .main-content,
  .main-featured-menu {
    width: 85vw;
    padding: 2rem;
    margin: 0 auto;
    background: $dark-purple;
    box-shadow: 0px 5px 15px -5px #000000;
  }

  .main-content {
    img.main-image {
      margin: -6rem auto 0 auto;
      width: 98%;
      box-shadow: 0px 5px 15px -5px #000000;
    }

    .main-h2 {
      margin-top: 1.5rem;
    }
  }

  .main-featured-menu {
    padding: 1rem;
    margin-top: 1.25rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    article.menu-item {
      width: calc(50% - 1rem);
      display: flex;
      padding: 0.75rem 0.5rem 3rem 0.5rem;
      justify-content: space-between;
      background: #ff33e3;
      margin: 0.5rem;

      .menu-item-left {
        width: 30%;
        figure {
          width: 100%;

          img.menu-image {
            margin: 0 auto;
            width: 98%;
            box-shadow: 0px 5px 15px -5px #000000;
          }
        }

        a.price-button {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 40px;
          padding: 0 8px;
          margin: 1.5rem auto 0 auto;
          background: $dark-teal;
        }
      }

      .menu-item-content {
        width: 68%;
        color: $white;
        padding-left: 0.75rem;
      }
    }

    .main-h3 {
      margin-top: 1.25rem;
    }
  }
}
