@import 'base/colors';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 6rem;

  .main-content,
  .main-featured-menu {
    width: 85vw;
    padding: 2rem;
    margin: 0 auto;
    background: $dark-purple;
    box-shadow: 0px 5px 15px -5px #000000;
  }

  .main-content {
    img.main-image {
      margin: -6rem auto 0 auto;
      width: 98%;
      box-shadow: 0px 5px 15px -5px #000000;
    }

    .main-h2 {
      margin-top: 1.5rem;
    }
  }

  .main-featured-menu {
    padding: 3rem 1rem 1rem 1rem;
    margin-top: 1.25rem;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .featured {
      width: 287px;
      position: absolute;
      top: -1.5rem;
      left: 2rem;
      padding: 1rem;
      background: #ff33e3;
      -webkit-transform: skew(-15deg);
      transform: skew(-15deg);
      box-shadow: 0px 5px 15px -5px #000000;

      h3 {
        transform: skew(15deg);
        text-shadow: 2px 2px 0px #bf6f1a, 4px 4px 0px #3a008e,
          6px 6px 0px #66340f, 8px 8px 0px #bf6f1a;
      }
    }

    .main-h3 {
      margin-top: 1.25rem;
    }
  }
}
