html {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.65rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

p {
  font-family: "Raleway", sans-serif;

  &::selection {
    color: $black;
    background: $bright-yellow;
  }
}
