@import url("https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap");
@import url("https://css.gg/c");
@import "header";
@import "main";
@import "reset";
@import "typogrophy";
@import "colors";

body {
  overflow-x: hidden;
  color: $white;
  background: $black;
}
