@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap');

// Base Styles
@import 'base/reset';
@import 'base/typogrophy';
@import 'base/colors';

// Component Styles
@import 'components/home-menu-item';
@import 'components/menu-item';

// Main Styles
@import 'header';
@import 'main';
@import 'page-styles';
@import 'footer';

body {
  overflow-x: hidden;
  color: $white;
  background: $black;
}
